<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405017810242-ue0g25q48t3qlb95e8c0o8d0qctua5h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405017810242-ue0g25q48t3qlb95e8c0o8d0qctua5h4</string>
	<key>API_KEY</key>
	<string>AIzaSyDFZ0tCCI1nQBJ4jKRDxmctyv-GtkGzuFw</string>
	<key>GCM_SENDER_ID</key>
	<string>405017810242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antk.Canpine</string>
	<key>PROJECT_ID</key>
	<string>canpine-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>canpine-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405017810242:ios:2ee51d4a1dc11196ed64db</string>
</dict>
</plist>